[Desktop Entry]
Encoding=UTF-8
Name=Link to MEAN Stack User Registration and Login Example & Tutorial | Jason Watmore's Blog
Type=Link
URL=http://jasonwatmore.com/post/2015/12/09/mean-stack-user-registration-and-login-example-tutorial#app-folder
Icon=text-html
