[Desktop Entry]
Encoding=UTF-8
Name=Link to Setup the MEAN Stack on Windows | Jason Watmore's Blog
Type=Link
URL=http://jasonwatmore.com/post/2015/12/26/setup-the-mean-stack-on-windows
Icon=text-html
