<!DOCTYPE html>
<html ng-app="erabApp"> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

      <!-- Meetups View -->
      <div ng-controller="erabsController">
        <h1>{{erabs.length}} Erabiltzaile daude</h1>
        <ul>
          <li ng-repeat="erab in erabs">
            {{erab.izena}}
          </li>
        </ul>
        <form ng-submit="sortuErab()">
          <input type="text" placeholder="Erabiltzaile izena" ng-model="erabIzena"></input>
          <button type="submit">Gehitu</button>
        </form> 
      </div>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers/erabs-controller.js"></script>
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->