<form class="well" (submit)="addFilma($event)">
	<div class="form-group">
	<h3>Filma berri bat gehitu</h3>
		<input type="text" [(ngModel)]="izena" name="izena" class="form-control" placeholder="Filma izena gehitu..."><br>
		<textarea type="textarea" [(ngModel)]="deskribapena" name="deskribapena" class="form-control" placeholder="Filma deskribapena gehitu..."></textarea><br>
		<input type="submit" class="btn btn-success form control" value="Filma berria gorde">
	</div>
</form>

<div class="filma-list">
	<div *ngFor="let filma of filmak" class="jumbotron">
			<!--<input class="form-control input-lg" type="text" value="{{filma.izena}}" (change)="updateFilmaIzena(filma, $event.target.value)">-->
			<input class="form-control input-lg" type="text" value="{{filma.izena}}"><br>
			<!--<textarea type="textarea" class="form-control" rows="6" (change)="updateFilmaDesk(filma, $event.target.value)">{{filma.deskribapena}}</textarea>-->
			<textarea type="textarea" class="form-control" rows="6">{{filma.deskribapena}}</textarea><br>
			<input type="button" (click)="deleteFilma(filma._id)" value="Ezabatu" class="btn btn-danger">
			<input type="button" (click)="updateFilma(filma, $event.target.parentNode.querySelector('input[type=text]').value, $event.target.parentNode.querySelector('textarea[type=textarea]').value)" value="Aldaketak gorde" class="btn btn-success">
	</div><br>
</div>