<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
           		<span class="icon-bar"></span>
           		<span class="icon-bar"></span>
           		<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>F</b>ilmen <b>A</b>plikazioa<sub><b> 1.0.0</b></sub></a>
       	</div>
       	<div id="navbar" class="navbar-collapse collapse">
           	<form class="navbar-form navbar-right" (submit)="getErabiltzailea($event)">
              	<div class="form-group">
                	<input type="text" [(ngModel)]="posta" name="posta" placeholder="ePosta" class="form-control">
              	</div>
              	<div class="form-group">
                	<input type="password" [(ngModel)]="pass" name="pass" placeholder="Pasahitza" class="form-control">
              	</div>
              	<button type="submit" class="btn btn-success">Logeatu</button>
           	</form>
      	</div><!--/.navbar-collapse -->
    </div>
</nav>
<div *ngFor="let user of erab" class="jumbotron">
<p>{{user.postaElektronikoa}}</p>
</div>